* {
  margin: 0;
  padding: 0;
}

.regbox {
  width: 560px;
  /* width: 497px; */
  margin-left: auto;
  margin-top: 200px;
}

.regbox h2 {
  font-size: 34px;
}

.regbox p {
  font-size: 20px;
  padding-bottom: 40px;
}

.regimg {
  display: block;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
